@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  -webkit-font-smoothing: antialiased; /* for Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* for Firefox */
  text-rendering: optimizeLegibility; /* for general optimization */
}
 
@layer base {
  :root {
    --brand-primary: 211 97% 49%;
    /* --brand-secondary:; */
    --brand-accent: 0 67% 100%; 

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%; 
    --secondary-foreground: 0 0% 9%;
 
    --accent: #3384f4;/*0 0% 96.1%;*/
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --neutral: 0 0% 9%;
    --neutral-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --neutral: 0 0% 9%;
    --neutral-foreground: 0 0% 98%;
    
    
    --ring: 0 0% 14.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1
  {
    @apply text-7xl font-bold tracking-tighter leading-tight;
    line-height: .8;
  }
  h2
  {
    @apply text-2xl font-bold;
  }
  h3
  {
    @apply mt-4 font-semibold tracking-tight text-left text-lg mb-2
  }
  .btn
  {
    @apply bg-primary font-medium text-sm text-primary-foreground active:text-primary-foreground/70 rounded-md px-4 py-2 hover:bg-primary/80 active:bg-primary/90 ;
  }

  .btn-follow{
    @apply bg-primary font-medium text-sm text-primary-foreground active:text-primary-foreground/70 rounded-md px-4 py-2 hover:bg-primary/80 active:bg-primary/90 ;
  }
  /* .btn-follow{
    @apply bg-gradient-to-br from-orange-500 via-pink-500 to-sky-500 font-medium text-sm text-white/95 active:text-primary-foreground/70 rounded-md px-4 py-2 hover:bg-primary/80 active:bg-primary/90 ;
  } */
  /* .followable:after:hover {
    background-color: #989898
  } */
  .clickable
  {
    @apply cursor-pointer hover:text-primary/50 active:scale-[.97] transition-all duration-500;
  }
  
  .followable:after {
    border-image-slice: 1;
    width: 24px;
    height: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    /* left: -10px; */
    /* bottom: -10px; */
    right: -10px;
    background-color: #fafafa;
    content: "+";
    border-width: 2px;
    color: #676767;
    /* border-image-source: -webkit-linear-gradient(linear, left top, left bottom, from(#3384f4), to(#f4507f));
    border-image-source: linear-gradient(to bottom, #3384f4, #f4507f); */
    @apply rounded-full hover:bg-secondary active:bg-primary-foreground active:scale-95;
  }

  /* Add this class to your stylesheet */
.placeholder:empty::before {
  content: attr(data-placeholder);
  color: #a1a1a1;
  pointer-events: none;
  display: block; /* or 'inline' depending on your layout */
}

/* When the div is not empty, do not show the placeholder */
.placeholder:not(:empty)::before {
  content: attr(data-placeholder);
  display: none;
}

.wrap-words{
  white-space:pre-wrap;
  word-break:break-word;
}

/* Ensure the contentEditable div is always treated as a block to prevent collapse */
.placeholder:empty {
  display: block;
}


.btn-beautified
  {
    @apply bg-gradient-to-br from-orange-500 via-pink-500 to-sky-500 font-medium text-sm text-white/95 active:text-primary-foreground/70 rounded-md px-4 py-2 hover:bg-primary/80 active:bg-primary/90 ;
  }

  .user_name
  {
    @apply hover:underline cursor-pointer text-primary font-semibold 
    
  }

  .container {
    position: relative;
  }
  
  .sidebar {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .hovered {
    transform: translateX(0%);
  }
  



  .likeButton {
    transition: transform 0.3s ease;
  }
  
  .liked {
    animation: likeAnimation 0.5s ease;
  }
  
  @keyframes likeAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); /* Grows the button to 120% its size */
    }
  }


  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeInUp {
    animation: fadeInUp 0.5s ease-out forwards;
  }
  
  
}